name: Test

on: [push]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        python-version: ["3.6", "3.7", "3.8", "3.9"]
    name: Test (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on:  ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        mamba-version: "*"
        channels: conda-forge
        activate-environment: cppimport
        environment-file: environment.yml
        python-version: ${{ matrix.python-version }}
    - name: Install cppimport
      run: |
        pip install --no-use-pep517 --no-deps --disable-pip-version-check -e .
    - name: Lint with flake8
      run: |
        flake8 . 
    - name: Check formatting with black
      run: |
        black --check . 
    - name: Check import ordering with isort
      run: |
        isort --check . 
    - name: Test
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        CFLAGS='-stdlib=libc++' pytest
    - name: Test
      if: ${{ matrix.os != 'macos-latest' }}
      run: |
        pytest
